<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pangff.wjw"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.pangff.wjw.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ExchangeDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ExchangeIntegrationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".IncomingCallActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
                          <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RewardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VipTransferActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            

        </activity>
        <activity
            android:name=".VipTransferDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
          <activity
            android:name=".VipTransferSureActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait" >
            
            
        </activity>
        <activity
            android:name=".WithDrawalsApplyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WithDrawalsDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
           
        </activity>
        <activity
            android:name=".AdvDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="com.pangff.wjw.receiver.IncomingBroadcastReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="WithDrawalsApplySureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            
        </activity>
        <activity
            android:name="WithDrawalsApplyCompleteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="AcountChangeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="VipTransferCompleteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            
        </activity>
        <activity 
            android:name="ExchangeSureAvtivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            
        </activity>
       
    </application>

</manifest>